@model admindx.Models.p_usuario_perfil

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>p_usuario_perfil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.superadmin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.superadmin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.web_admin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.web_admin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.web_consulta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.web_consulta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.loc_admin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loc_admin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.loc_index)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loc_index)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.loc_calidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loc_calidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.loc_consulta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loc_consulta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_proyecto.nom_proyecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_proyecto.nom_proyecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_usuario.nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_usuario.nombres)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>