@model IEnumerable<admindx.Models.p_tipodoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.img)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.multiterceros)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.principal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.excluir)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.p_subserie.codigo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.img)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.multiterceros)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.principal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.excluir)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p_subserie.codigo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
